.content-border {
  border: solid 1px #999 !important;
}

@layer base {
  a {
     @apply underline;
  }
}


 .max-width {
   width: 40em;
 }


.wave-content {
  margin-top: -8px; 
}

.wave {
  margin-top: -100px;
}


